# ignore files we dont want to publish
.vscode
.git
.llm
.vscode/**
.vscode-test/**
out/** # Ignore old test output dir if kept
dist/** # Ignore new build output dir
node_modules/**
src/** # Source files are bundled
.gitignore
.yarnrc
.github/**
**/node_modules/**
**/.yarn/**
**/*.map
**/*.ts
**/tsconfig.json
**/webpack.config.js
.eslintrc.json
.prettierrc
.editorconfig
.npmrc
.yarnrc.yml
.travis.yml
.gitlab-ci.yml
.DS_Store
test/**
examples/**
docs/**
coverage/**
.nyc_output/**
*.vsix
.cursor
esbuild.js # Ignore build script
*.test.ts
changelog.md
.vscode-test.mjs
.node-version
esbuild.js
eslint.config.mjs
readme.md
renovate.json
test
test_manual
src/test/*.test.js